export DATABASE_URL="postgresql://helicone-db-user:helicone-db-pw@localhost:5432/helicone-db"
# export MINIO_ACCESS_KEY="helicone-minioadmin"
# export MINIO_SECRET_KEY="helicone-minioadmin-pw"
# export SQLX_OFFLINE=true