openapi: 3.0.0
info:
  title: OpenAI API
  description: The OpenAI REST API. Please see https://platform.openai.com/docs/api-reference for more details.
  termsOfService: https://openai.com/policies/terms-of-use
  contact:
    name: OpenAI Support
    url: https://help.openai.com/
  license:
    name: MIT
    url: https://github.com/openai/openai-openapi/blob/master/LICENSE
  version: 2.3.0
servers:
- url: https://api.openai.com/v1
paths:
  /chat/completions:
    post:
      tags:
      - Chat
      summary: "**Starting a new project?** We recommend trying [Responses](/docs/api-reference/responses) \nto take advantage of the latest OpenAI platform features. Compare\n[Chat Completions with Responses](/docs/guides/responses-vs-chat-completions?api-mode=responses).\n\n---\n\nCreates a model response for the given chat conversation. Learn more in the\n[text generation](/docs/guides/text-generation), [vision](/docs/guides/vision),\nand [audio](/docs/guides/audio) guides.\n\nParameter support can differ depending on the model used to generate the\nresponse, particularly for newer reasoning models. Parameters that are only\nsupported for reasoning models are noted below. For the current state of \nunsupported parameters in reasoning models, \n[refer to the reasoning guide](/docs/guides/reasoning).\n"
      operationId: createChatCompletion
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateChatCompletionRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateChatCompletionResponse'
            text/event-stream:
              schema:
                $ref: '#/components/schemas/CreateChatCompletionStreamResponse'
      x-oaiMeta:
        examples:
        - request:
            csharp: |
              using System;
              using System.Collections.Generic;

              using OpenAI.Chat;

              ChatClient client = new(
                  model: "gpt-4o",
                  apiKey: Environment.GetEnvironmentVariable("OPENAI_API_KEY")
              );

              List<ChatMessage> messages =
              [
                  new SystemChatMessage("You are a helpful assistant."),
                  new UserChatMessage("Hello!")
              ];

              ChatCompletion completion = client.CompleteChat(messages);

              Console.WriteLine(completion.Content[0].Text);
            curl: |
              curl https://api.openai.com/v1/chat/completions \
                -H "Content-Type: application/json" \
                -H "Authorization: Bearer $OPENAI_API_KEY" \
                -d '{
                  "model": "VAR_chat_model_id",
                  "messages": [
                    {
                      "role": "developer",
                      "content": "You are a helpful assistant."
                    },
                    {
                      "role": "user",
                      "content": "Hello!"
                    }
                  ]
                }'
            node.js: |
              import OpenAI from "openai";

              const openai = new OpenAI();

              async function main() {
                const completion = await openai.chat.completions.create({
                  messages: [{ role: "developer", content: "You are a helpful assistant." }],
                  model: "VAR_chat_model_id",
                  store: true,
                });

                console.log(completion.choices[0]);
              }

              main();
            python: |
              from openai import OpenAI
              client = OpenAI()

              completion = client.chat.completions.create(
                model="VAR_chat_model_id",
                messages=[
                  {"role": "developer", "content": "You are a helpful assistant."},
                  {"role": "user", "content": "Hello!"}
                ]
              )

              print(completion.choices[0].message)
          response: |
            {
              "id": "chatcmpl-B9MBs8CjcvOU2jLn4n570S5qMJKcT",
              "object": "chat.completion",
              "created": 1741569952,
              "model": "gpt-4o-2024-08-06",
              "choices": [
                {
                  "index": 0,
                  "message": {
                    "role": "assistant",
                    "content": "Hello! How can I assist you today?",
                    "refusal": null,
                    "annotations": []
                  },
                  "logprobs": null,
                  "finish_reason": "stop"
                }
              ],
              "usage": {
                "prompt_tokens": 19,
                "completion_tokens": 10,
                "total_tokens": 29,
                "prompt_tokens_details": {
                  "cached_tokens": 0,
                  "audio_tokens": 0
                },
                "completion_tokens_details": {
                  "reasoning_tokens": 0,
                  "audio_tokens": 0,
                  "accepted_prediction_tokens": 0,
                  "rejected_prediction_tokens": 0
                }
              },
              "service_tier": "default"
            }
          title: Default
        - request:
            csharp: |
              using System;
              using System.Collections.Generic;

              using OpenAI.Chat;

              ChatClient client = new(
                  model: "gpt-4o",
                  apiKey: Environment.GetEnvironmentVariable("OPENAI_API_KEY")
              );

              List<ChatMessage> messages =
              [
                  new UserChatMessage(
                  [
                      ChatMessageContentPart.CreateTextPart("What's in this image?"),
                      ChatMessageContentPart.CreateImagePart(new Uri("https://upload.wikimedia.org/wikipedia/commons/thumb/d/dd/Gfp-wisconsin-madison-the-nature-boardwalk.jpg/2560px-Gfp-wisconsin-madison-the-nature-boardwalk.jpg"))
                  ])
              ];

              ChatCompletion completion = client.CompleteChat(messages);

              Console.WriteLine(completion.Content[0].Text);
            curl: |
              curl https://api.openai.com/v1/chat/completions \
                -H "Content-Type: application/json" \
                -H "Authorization: Bearer $OPENAI_API_KEY" \
                -d '{
                  "model": "gpt-4o",
                  "messages": [
                    {
                      "role": "user",
                      "content": [
                        {
                          "type": "text",
                          "text": "What is in this image?"
                        },
                        {
                          "type": "image_url",
                          "image_url": {
                            "url": "https://upload.wikimedia.org/wikipedia/commons/thumb/d/dd/Gfp-wisconsin-madison-the-nature-boardwalk.jpg/2560px-Gfp-wisconsin-madison-the-nature-boardwalk.jpg"
                          }
                        }
                      ]
                    }
                  ],
                  "max_tokens": 300
                }'
            node.js: |
              import OpenAI from "openai";

              const openai = new OpenAI();

              async function main() {
                const response = await openai.chat.completions.create({
                  model: "gpt-4o",
                  messages: [
                    {
                      role: "user",
                      content: [
                        { type: "text", text: "What's in this image?" },
                        {
                          type: "image_url",
                          image_url: {
                            "url": "https://upload.wikimedia.org/wikipedia/commons/thumb/d/dd/Gfp-wisconsin-madison-the-nature-boardwalk.jpg/2560px-Gfp-wisconsin-madison-the-nature-boardwalk.jpg",
                          },
                        }
                      ],
                    },
                  ],
                });
                console.log(response.choices[0]);
              }
              main();
            python: |
              from openai import OpenAI

              client = OpenAI()

              response = client.chat.completions.create(
                  model="gpt-4o",
                  messages=[
                      {
                          "role": "user",
                          "content": [
                              {"type": "text", "text": "What's in this image?"},
                              {
                                  "type": "image_url",
                                  "image_url": {
                                      "url": "https://upload.wikimedia.org/wikipedia/commons/thumb/d/dd/Gfp-wisconsin-madison-the-nature-boardwalk.jpg/2560px-Gfp-wisconsin-madison-the-nature-boardwalk.jpg",
                                  }
                              },
                          ],
                      }
                  ],
                  max_tokens=300,
              )

              print(response.choices[0])
          response: |
            {
              "id": "chatcmpl-B9MHDbslfkBeAs8l4bebGdFOJ6PeG",
              "object": "chat.completion",
              "created": 1741570283,
              "model": "gpt-4o-2024-08-06",
              "choices": [
                {
                  "index": 0,
                  "message": {
                    "role": "assistant",
                    "content": "The image shows a wooden boardwalk path running through a lush green field or meadow. The sky is bright blue with some scattered clouds, giving the scene a serene and peaceful atmosphere. Trees and shrubs are visible in the background.",
                    "refusal": null,
                    "annotations": []
                  },
                  "logprobs": null,
                  "finish_reason": "stop"
                }
              ],
              "usage": {
                "prompt_tokens": 1117,
                "completion_tokens": 46,
                "total_tokens": 1163,
                "prompt_tokens_details": {
                  "cached_tokens": 0,
                  "audio_tokens": 0
                },
                "completion_tokens_details": {
                  "reasoning_tokens": 0,
                  "audio_tokens": 0,
                  "accepted_prediction_tokens": 0,
                  "rejected_prediction_tokens": 0
                }
              },
              "service_tier": "default"
            }
          title: Image input
        - request:
            csharp: |
              using System;
              using System.ClientModel;
              using System.Collections.Generic;
              using System.Threading.Tasks;

              using OpenAI.Chat;

              ChatClient client = new(
                  model: "gpt-4o",
                  apiKey: Environment.GetEnvironmentVariable("OPENAI_API_KEY")
              );

              List<ChatMessage> messages =
              [
                  new SystemChatMessage("You are a helpful assistant."),
                  new UserChatMessage("Hello!")
              ];

              AsyncCollectionResult<StreamingChatCompletionUpdate> completionUpdates = client.CompleteChatStreamingAsync(messages);

              await foreach (StreamingChatCompletionUpdate completionUpdate in completionUpdates)
              {
                  if (completionUpdate.ContentUpdate.Count > 0)
                  {
                      Console.Write(completionUpdate.ContentUpdate[0].Text);
                  }
              }
            curl: |
              curl https://api.openai.com/v1/chat/completions \
                -H "Content-Type: application/json" \
                -H "Authorization: Bearer $OPENAI_API_KEY" \
                -d '{
                  "model": "VAR_chat_model_id",
                  "messages": [
                    {
                      "role": "developer",
                      "content": "You are a helpful assistant."
                    },
                    {
                      "role": "user",
                      "content": "Hello!"
                    }
                  ],
                  "stream": true
                }'
            node.js: |
              import OpenAI from "openai";

              const openai = new OpenAI();

              async function main() {
                const completion = await openai.chat.completions.create({
                  model: "VAR_chat_model_id",
                  messages: [
                    {"role": "developer", "content": "You are a helpful assistant."},
                    {"role": "user", "content": "Hello!"}
                  ],
                  stream: true,
                });

                for await (const chunk of completion) {
                  console.log(chunk.choices[0].delta.content);
                }
              }

              main();
            python: |
              from openai import OpenAI
              client = OpenAI()

              completion = client.chat.completions.create(
                model="VAR_chat_model_id",
                messages=[
                  {"role": "developer", "content": "You are a helpful assistant."},
                  {"role": "user", "content": "Hello!"}
                ],
                stream=True
              )

              for chunk in completion:
                print(chunk.choices[0].delta)
          response: |
            {"id":"chatcmpl-123","object":"chat.completion.chunk","created":1694268190,"model":"gpt-4o-mini", "system_fingerprint": "fp_44709d6fcb", "choices":[{"index":0,"delta":{"role":"assistant","content":""},"logprobs":null,"finish_reason":null}]}

            {"id":"chatcmpl-123","object":"chat.completion.chunk","created":1694268190,"model":"gpt-4o-mini", "system_fingerprint": "fp_44709d6fcb", "choices":[{"index":0,"delta":{"content":"Hello"},"logprobs":null,"finish_reason":null}]}

            ....

            {"id":"chatcmpl-123","object":"chat.completion.chunk","created":1694268190,"model":"gpt-4o-mini", "system_fingerprint": "fp_44709d6fcb", "choices":[{"index":0,"delta":{},"logprobs":null,"finish_reason":"stop"}]}
          title: Streaming
        - request:
            csharp: |
              using System;
              using System.Collections.Generic;

              using OpenAI.Chat;

              ChatClient client = new(
                  model: "gpt-4o",
                  apiKey: Environment.GetEnvironmentVariable("OPENAI_API_KEY")
              );

              ChatTool getCurrentWeatherTool = ChatTool.CreateFunctionTool(
                  functionName: "get_current_weather",
                  functionDescription: "Get the current weather in a given location",
                  functionParameters: BinaryData.FromString("""
                      {
                          "type": "object",
                          "properties": {
                              "location": {
                                  "type": "string",
                                  "description": "The city and state, e.g. San Francisco, CA"
                              },
                              "unit": {
                                  "type": "string",
                                  "enum": [ "celsius", "fahrenheit" ]
                              }
                          },
                          "required": [ "location" ]
                      }
                  """)
              );

              List<ChatMessage> messages =
              [
                  new UserChatMessage("What's the weather like in Boston today?"),
              ];

              ChatCompletionOptions options = new()
              {
                  Tools =
                  {
                      getCurrentWeatherTool
                  },
                  ToolChoice = ChatToolChoice.CreateAutoChoice(),
              };

              ChatCompletion completion = client.CompleteChat(messages, options);
            curl: |
              curl https://api.openai.com/v1/chat/completions \
              -H "Content-Type: application/json" \
              -H "Authorization: Bearer $OPENAI_API_KEY" \
              -d '{
                "model": "gpt-4o",
                "messages": [
                  {
                    "role": "user",
                    "content": "What is the weather like in Boston today?"
                  }
                ],
                "tools": [
                  {
                    "type": "function",
                    "function": {
                      "name": "get_current_weather",
                      "description": "Get the current weather in a given location",
                      "parameters": {
                        "type": "object",
                        "properties": {
                          "location": {
                            "type": "string",
                            "description": "The city and state, e.g. San Francisco, CA"
                          },
                          "unit": {
                            "type": "string",
                            "enum": ["celsius", "fahrenheit"]
                          }
                        },
                        "required": ["location"]
                      }
                    }
                  }
                ],
                "tool_choice": "auto"
              }'
            node.js: |
              import OpenAI from "openai";

              const openai = new OpenAI();

              async function main() {
                const messages = [{"role": "user", "content": "What's the weather like in Boston today?"}];
                const tools = [
                    {
                      "type": "function",
                      "function": {
                        "name": "get_current_weather",
                        "description": "Get the current weather in a given location",
                        "parameters": {
                          "type": "object",
                          "properties": {
                            "location": {
                              "type": "string",
                              "description": "The city and state, e.g. San Francisco, CA",
                            },
                            "unit": {"type": "string", "enum": ["celsius", "fahrenheit"]},
                          },
                          "required": ["location"],
                        },
                      }
                    }
                ];

                const response = await openai.chat.completions.create({
                  model: "gpt-4o",
                  messages: messages,
                  tools: tools,
                  tool_choice: "auto",
                });

                console.log(response);
              }

              main();
            python: |
              from openai import OpenAI
              client = OpenAI()

              tools = [
                {
                  "type": "function",
                  "function": {
                    "name": "get_current_weather",
                    "description": "Get the current weather in a given location",
                    "parameters": {
                      "type": "object",
                      "properties": {
                        "location": {
                          "type": "string",
                          "description": "The city and state, e.g. San Francisco, CA",
                        },
                        "unit": {"type": "string", "enum": ["celsius", "fahrenheit"]},
                      },
                      "required": ["location"],
                    },
                  }
                }
              ]
              messages = [{"role": "user", "content": "What's the weather like in Boston today?"}]
              completion = client.chat.completions.create(
                model="VAR_chat_model_id",
                messages=messages,
                tools=tools,
                tool_choice="auto"
              )

              print(completion)
          response: |
            {
              "id": "chatcmpl-abc123",
              "object": "chat.completion",
              "created": 1699896916,
              "model": "gpt-4o-mini",
              "choices": [
                {
                  "index": 0,
                  "message": {
                    "role": "assistant",
                    "content": null,
                    "tool_calls": [
                      {
                        "id": "call_abc123",
                        "type": "function",
                        "function": {
                          "name": "get_current_weather",
                          "arguments": "{\n\"location\": \"Boston, MA\"\n}"
                        }
                      }
                    ]
                  },
                  "logprobs": null,
                  "finish_reason": "tool_calls"
                }
              ],
              "usage": {
                "prompt_tokens": 82,
                "completion_tokens": 17,
                "total_tokens": 99,
                "completion_tokens_details": {
                  "reasoning_tokens": 0,
                  "accepted_prediction_tokens": 0,
                  "rejected_prediction_tokens": 0
                }
              }
            }
          title: Functions
        - request:
            csharp: |
              using System;
              using System.Collections.Generic;

              using OpenAI.Chat;

              ChatClient client = new(
                  model: "gpt-4o",
                  apiKey: Environment.GetEnvironmentVariable("OPENAI_API_KEY")
              );

              List<ChatMessage> messages =
              [
                  new UserChatMessage("Hello!")
              ];

              ChatCompletionOptions options = new()
              {
                  IncludeLogProbabilities = true,
                  TopLogProbabilityCount = 2
              };

              ChatCompletion completion = client.CompleteChat(messages, options);

              Console.WriteLine(completion.Content[0].Text);
            curl: |
              curl https://api.openai.com/v1/chat/completions \
                -H "Content-Type: application/json" \
                -H "Authorization: Bearer $OPENAI_API_KEY" \
                -d '{
                  "model": "VAR_chat_model_id",
                  "messages": [
                    {
                      "role": "user",
                      "content": "Hello!"
                    }
                  ],
                  "logprobs": true,
                  "top_logprobs": 2
                }'
            node.js: |
              import OpenAI from "openai";

              const openai = new OpenAI();

              async function main() {
                const completion = await openai.chat.completions.create({
                  messages: [{ role: "user", content: "Hello!" }],
                  model: "VAR_chat_model_id",
                  logprobs: true,
                  top_logprobs: 2,
                });

                console.log(completion.choices[0]);
              }

              main();
            python: |
              from openai import OpenAI
              client = OpenAI()

              completion = client.chat.completions.create(
                model="VAR_chat_model_id",
                messages=[
                  {"role": "user", "content": "Hello!"}
                ],
                logprobs=True,
                top_logprobs=2
              )

              print(completion.choices[0].message)
              print(completion.choices[0].logprobs)
          response: |
            {
              "id": "chatcmpl-123",
              "object": "chat.completion",
              "created": 1702685778,
              "model": "gpt-4o-mini",
              "choices": [
                {
                  "index": 0,
                  "message": {
                    "role": "assistant",
                    "content": "Hello! How can I assist you today?"
                  },
                  "logprobs": {
                    "content": [
                      {
                        "token": "Hello",
                        "logprob": -0.31725305,
                        "bytes": [72, 101, 108, 108, 111],
                        "top_logprobs": [
                          {
                            "token": "Hello",
                            "logprob": -0.31725305,
                            "bytes": [72, 101, 108, 108, 111]
                          },
                          {
                            "token": "Hi",
                            "logprob": -1.3190403,
                            "bytes": [72, 105]
                          }
                        ]
                      },
                      {
                        "token": "!",
                        "logprob": -0.02380986,
                        "bytes": [
                          33
                        ],
                        "top_logprobs": [
                          {
                            "token": "!",
                            "logprob": -0.02380986,
                            "bytes": [33]
                          },
                          {
                            "token": " there",
                            "logprob": -3.787621,
                            "bytes": [32, 116, 104, 101, 114, 101]
                          }
                        ]
                      },
                      {
                        "token": " How",
                        "logprob": -0.000054669687,
                        "bytes": [32, 72, 111, 119],
                        "top_logprobs": [
                          {
                            "token": " How",
                            "logprob": -0.000054669687,
                            "bytes": [32, 72, 111, 119]
                          },
                          {
                            "token": "<|end|>",
                            "logprob": -10.953937,
                            "bytes": null
                          }
                        ]
                      },
                      {
                        "token": " can",
                        "logprob": -0.015801601,
                        "bytes": [32, 99, 97, 110],
                        "top_logprobs": [
                          {
                            "token": " can",
                            "logprob": -0.015801601,
                            "bytes": [32, 99, 97, 110]
                          },
                          {
                            "token": " may",
                            "logprob": -4.161023,
                            "bytes": [32, 109, 97, 121]
                          }
                        ]
                      },
                      {
                        "token": " I",
                        "logprob": -3.7697225e-6,
                        "bytes": [
                          32,
                          73
                        ],
                        "top_logprobs": [
                          {
                            "token": " I",
                            "logprob": -3.7697225e-6,
                            "bytes": [32, 73]
                          },
                          {
                            "token": " assist",
                            "logprob": -13.596657,
                            "bytes": [32, 97, 115, 115, 105, 115, 116]
                          }
                        ]
                      },
                      {
                        "token": " assist",
                        "logprob": -0.04571125,
                        "bytes": [32, 97, 115, 115, 105, 115, 116],
                        "top_logprobs": [
                          {
                            "token": " assist",
                            "logprob": -0.04571125,
                            "bytes": [32, 97, 115, 115, 105, 115, 116]
                          },
                          {
                            "token": " help",
                            "logprob": -3.1089056,
                            "bytes": [32, 104, 101, 108, 112]
                          }
                        ]
                      },
                      {
                        "token": " you",
                        "logprob": -5.4385737e-6,
                        "bytes": [32, 121, 111, 117],
                        "top_logprobs": [
                          {
                            "token": " you",
                            "logprob": -5.4385737e-6,
                            "bytes": [32, 121, 111, 117]
                          },
                          {
                            "token": " today",
                            "logprob": -12.807695,
                            "bytes": [32, 116, 111, 100, 97, 121]
                          }
                        ]
                      },
                      {
                        "token": " today",
                        "logprob": -0.0040071653,
                        "bytes": [32, 116, 111, 100, 97, 121],
                        "top_logprobs": [
                          {
                            "token": " today",
                            "logprob": -0.0040071653,
                            "bytes": [32, 116, 111, 100, 97, 121]
                          },
                          {
                            "token": "?",
                            "logprob": -5.5247097,
                            "bytes": [63]
                          }
                        ]
                      },
                      {
                        "token": "?",
                        "logprob": -0.0008108172,
                        "bytes": [63],
                        "top_logprobs": [
                          {
                            "token": "?",
                            "logprob": -0.0008108172,
                            "bytes": [63]
                          },
                          {
                            "token": "?\n",
                            "logprob": -7.184561,
                            "bytes": [63, 10]
                          }
                        ]
                      }
                    ]
                  },
                  "finish_reason": "stop"
                }
              ],
              "usage": {
                "prompt_tokens": 9,
                "completion_tokens": 9,
                "total_tokens": 18,
                "completion_tokens_details": {
                  "reasoning_tokens": 0,
                  "accepted_prediction_tokens": 0,
                  "rejected_prediction_tokens": 0
                }
              },
              "system_fingerprint": null
            }
          title: Logprobs
        group: chat
        name: Create chat completion
        path: create
        returns: |
          Returns a [chat completion](/docs/api-reference/chat/object) object, or a streamed sequence of [chat completion chunk](/docs/api-reference/chat/streaming) objects if the request is streamed.
  /completions:
    post:
      tags:
      - Completions
      summary: Creates a completion for the provided prompt and parameters.
      operationId: createCompletion
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCompletionRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateCompletionResponse'
      x-oaiMeta:
        examples:
        - request:
            curl: |
              curl https://api.openai.com/v1/completions \
                -H "Content-Type: application/json" \
                -H "Authorization: Bearer $OPENAI_API_KEY" \
                -d '{
                  "model": "VAR_completion_model_id",
                  "prompt": "Say this is a test",
                  "max_tokens": 7,
                  "temperature": 0
                }'
            node.js: |-
              import OpenAI from "openai";

              const openai = new OpenAI();

              async function main() {
                const completion = await openai.completions.create({
                  model: "VAR_completion_model_id",
                  prompt: "Say this is a test.",
                  max_tokens: 7,
                  temperature: 0,
                });

                console.log(completion);
              }
              main();
            python: |
              from openai import OpenAI
              client = OpenAI()

              client.completions.create(
                model="VAR_completion_model_id",
                prompt="Say this is a test",
                max_tokens=7,
                temperature=0
              )
          response: |
            {
              "id": "cmpl-uqkvlQyYK7bGYrRHQ0eXlWi7",
              "object": "text_completion",
              "created": 1589478378,
              "model": "VAR_completion_model_id",
              "system_fingerprint": "fp_44709d6fcb",
              "choices": [
                {
                  "text": "\n\nThis is indeed a test",
                  "index": 0,
                  "logprobs": null,
                  "finish_reason": "length"
                }
              ],
              "usage": {
                "prompt_tokens": 5,
                "completion_tokens": 7,
                "total_tokens": 12
              }
            }
          title: No streaming
        - request:
            curl: |
              curl https://api.openai.com/v1/completions \
                -H "Content-Type: application/json" \
                -H "Authorization: Bearer $OPENAI_API_KEY" \
                -d '{
                  "model": "VAR_completion_model_id",
                  "prompt": "Say this is a test",
                  "max_tokens": 7,
                  "temperature": 0,
                  "stream": true
                }'
            node.js: |-
              import OpenAI from "openai";

              const openai = new OpenAI();

              async function main() {
                const stream = await openai.completions.create({
                  model: "VAR_completion_model_id",
                  prompt: "Say this is a test.",
                  stream: true,
                });

                for await (const chunk of stream) {
                  console.log(chunk.choices[0].text)
                }
              }
              main();
            python: |
              from openai import OpenAI
              client = OpenAI()

              for chunk in client.completions.create(
                model="VAR_completion_model_id",
                prompt="Say this is a test",
                max_tokens=7,
                temperature=0,
                stream=True
              ):
                print(chunk.choices[0].text)
          response: |
            {
              "id": "cmpl-7iA7iJjj8V2zOkCGvWF2hAkDWBQZe",
              "object": "text_completion",
              "created": 1690759702,
              "choices": [
                {
                  "text": "This",
                  "index": 0,
                  "logprobs": null,
                  "finish_reason": null
                }
              ],
              "model": "gpt-3.5-turbo-instruct"
              "system_fingerprint": "fp_44709d6fcb",
            }
          title: Streaming
        group: completions
        legacy: true
        name: Create completion
        returns: |
          Returns a [completion](/docs/api-reference/completions/object) object, or a sequence of completion objects if the request is streamed.
  /responses:
    post:
      tags:
      - Responses
      summary: |
        Creates a model response. Provide [text](/docs/guides/text) or
        [image](/docs/guides/images) inputs to generate [text](/docs/guides/text)
        or [JSON](/docs/guides/structured-outputs) outputs. Have the model call
        your own [custom code](/docs/guides/function-calling) or use built-in
        [tools](/docs/guides/tools) like [web search](/docs/guides/tools-web-search)
        or [file search](/docs/guides/tools-file-search) to use your own data
        as input for the model's response.
      operationId: createResponse
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateResponse'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
            text/event-stream:
              schema:
                $ref: '#/components/schemas/ResponseStreamEvent'
      x-oaiMeta:
        examples:
        - request:
            curl: |
              curl https://api.openai.com/v1/responses \
                -H "Content-Type: application/json" \
                -H "Authorization: Bearer $OPENAI_API_KEY" \
                -d '{
                  "model": "gpt-4o",
                  "input": "Tell me a three sentence bedtime story about a unicorn."
                }'
            javascript: |
              import OpenAI from "openai";

              const openai = new OpenAI();

              const response = await openai.responses.create({
                  model: "gpt-4o",
                  input: "Tell me a three sentence bedtime story about a unicorn."
              });

              console.log(response);
            python: |
              from openai import OpenAI

              client = OpenAI()

              response = client.responses.create(
                model="gpt-4o",
                input="Tell me a three sentence bedtime story about a unicorn."
              )

              print(response)
          response: |
            {
              "id": "resp_67ccd2bed1ec8190b14f964abc0542670bb6a6b452d3795b",
              "object": "response",
              "created_at": 1741476542,
              "status": "completed",
              "error": null,
              "incomplete_details": null,
              "instructions": null,
              "max_output_tokens": null,
              "model": "gpt-4o-2024-08-06",
              "output": [
                {
                  "type": "message",
                  "id": "msg_67ccd2bf17f0819081ff3bb2cf6508e60bb6a6b452d3795b",
                  "status": "completed",
                  "role": "assistant",
                  "content": [
                    {
                      "type": "output_text",
                      "text": "In a peaceful grove beneath a silver moon, a unicorn named Lumina discovered a hidden pool that reflected the stars. As she dipped her horn into the water, the pool began to shimmer, revealing a pathway to a magical realm of endless night skies. Filled with wonder, Lumina whispered a wish for all who dream to find their own hidden magic, and as she glanced back, her hoofprints sparkled like stardust.",
                      "annotations": []
                    }
                  ]
                }
              ],
              "parallel_tool_calls": true,
              "previous_response_id": null,
              "reasoning": {
                "effort": null,
                "generate_summary": null
              },
              "store": true,
              "temperature": 1.0,
              "text": {
                "format": {
                  "type": "text"
                }
              },
              "tool_choice": "auto",
              "tools": [],
              "top_p": 1.0,
              "truncation": "disabled",
              "usage": {
                "input_tokens": 36,
                "input_tokens_details": {
                  "cached_tokens": 0
                },
                "output_tokens": 87,
                "output_tokens_details": {
                  "reasoning_tokens": 0
                },
                "total_tokens": 123
              },
              "user": null,
              "metadata": {}
            }
          title: Text input
        - request:
            curl: |
              curl https://api.openai.com/v1/responses \
                -H "Content-Type: application/json" \
                -H "Authorization: Bearer $OPENAI_API_KEY" \
                -d '{
                  "model": "gpt-4o",
                  "input": [
                    {
                      "role": "user",
                      "content": [
                        {"type": "input_text", "text": "what is in this image?"},
                        {
                          "type": "input_image",
                          "image_url": "https://upload.wikimedia.org/wikipedia/commons/thumb/d/dd/Gfp-wisconsin-madison-the-nature-boardwalk.jpg/2560px-Gfp-wisconsin-madison-the-nature-boardwalk.jpg"
                        }
                      ]
                    }
                  ]
                }'
            javascript: |
              import OpenAI from "openai";

              const openai = new OpenAI();

              const response = await openai.responses.create({
                  model: "gpt-4o",
                  input: [
                      {
                          role: "user",
                          content: [
                              { type: "input_text", text: "what is in this image?" },
                              {
                                  type: "input_image",
                                  image_url:
                                      "https://upload.wikimedia.org/wikipedia/commons/thumb/d/dd/Gfp-wisconsin-madison-the-nature-boardwalk.jpg/2560px-Gfp-wisconsin-madison-the-nature-boardwalk.jpg",
                              },
                          ],
                      },
                  ],
              });

              console.log(response);
            python: |
              from openai import OpenAI

              client = OpenAI()

              response = client.responses.create(
                  model="gpt-4o",
                  input=[
                      {
                          "role": "user",
                          "content": [
                              { "type": "input_text", "text": "what is in this image?" },
                              {
                                  "type": "input_image",
                                  "image_url": "https://upload.wikimedia.org/wikipedia/commons/thumb/d/dd/Gfp-wisconsin-madison-the-nature-boardwalk.jpg/2560px-Gfp-wisconsin-madison-the-nature-boardwalk.jpg"
                              }
                          ]
                      }
                  ]
              )

              print(response)
          response: |
            {
              "id": "resp_67ccd3a9da748190baa7f1570fe91ac604becb25c45c1d41",
              "object": "response",
              "created_at": 1741476777,
              "status": "completed",
              "error": null,
              "incomplete_details": null,
              "instructions": null,
              "max_output_tokens": null,
              "model": "gpt-4o-2024-08-06",
              "output": [
                {
                  "type": "message",
                  "id": "msg_67ccd3acc8d48190a77525dc6de64b4104becb25c45c1d41",
                  "status": "completed",
                  "role": "assistant",
                  "content": [
                    {
                      "type": "output_text",
                      "text": "The image depicts a scenic landscape with a wooden boardwalk or pathway leading through lush, green grass under a blue sky with some clouds. The setting suggests a peaceful natural area, possibly a park or nature reserve. There are trees and shrubs in the background.",
                      "annotations": []
                    }
                  ]
                }
              ],
              "parallel_tool_calls": true,
              "previous_response_id": null,
              "reasoning": {
                "effort": null,
                "generate_summary": null
              },
              "store": true,
              "temperature": 1.0,
              "text": {
                "format": {
                  "type": "text"
                }
              },
              "tool_choice": "auto",
              "tools": [],
              "top_p": 1.0,
              "truncation": "disabled",
              "usage": {
                "input_tokens": 328,
                "input_tokens_details": {
                  "cached_tokens": 0
                },
                "output_tokens": 52,
                "output_tokens_details": {
                  "reasoning_tokens": 0
                },
                "total_tokens": 380
              },
              "user": null,
              "metadata": {}
            }
          title: Image input
        - request:
            curl: |
              curl https://api.openai.com/v1/responses \
                -H "Content-Type: application/json" \
                -H "Authorization: Bearer $OPENAI_API_KEY" \
                -d '{
                  "model": "gpt-4o",
                  "tools": [{ "type": "web_search_preview" }],
                  "input": "What was a positive news story from today?"
                }'
            javascript: |
              import OpenAI from "openai";

              const openai = new OpenAI();

              const response = await openai.responses.create({
                  model: "gpt-4o",
                  tools: [{ type: "web_search_preview" }],
                  input: "What was a positive news story from today?",
              });

              console.log(response);
            python: |
              from openai import OpenAI

              client = OpenAI()

              response = client.responses.create(
                  model="gpt-4o",
                  tools=[{ "type": "web_search_preview" }],
                  input="What was a positive news story from today?",
              )

              print(response)
          response: |
            {
              "id": "resp_67ccf18ef5fc8190b16dbee19bc54e5f087bb177ab789d5c",
              "object": "response",
              "created_at": 1741484430,
              "status": "completed",
              "error": null,
              "incomplete_details": null,
              "instructions": null,
              "max_output_tokens": null,
              "model": "gpt-4o-2024-08-06",
              "output": [
                {
                  "type": "web_search_call",
                  "id": "ws_67ccf18f64008190a39b619f4c8455ef087bb177ab789d5c",
                  "status": "completed"
                },
                {
                  "type": "message",
                  "id": "msg_67ccf190ca3881909d433c50b1f6357e087bb177ab789d5c",
                  "status": "completed",
                  "role": "assistant",
                  "content": [
                    {
                      "type": "output_text",
                      "text": "As of today, March 9, 2025, one notable positive news story...",
                      "annotations": [
                        {
                          "type": "url_citation",
                          "start_index": 442,
                          "end_index": 557,
                          "url": "https://.../?utm_source=chatgpt.com",
                          "title": "..."
                        },
                        {
                          "type": "url_citation",
                          "start_index": 962,
                          "end_index": 1077,
                          "url": "https://.../?utm_source=chatgpt.com",
                          "title": "..."
                        },
                        {
                          "type": "url_citation",
                          "start_index": 1336,
                          "end_index": 1451,
                          "url": "https://.../?utm_source=chatgpt.com",
                          "title": "..."
                        }
                      ]
                    }
                  ]
                }
              ],
              "parallel_tool_calls": true,
              "previous_response_id": null,
              "reasoning": {
                "effort": null,
                "generate_summary": null
              },
              "store": true,
              "temperature": 1.0,
              "text": {
                "format": {
                  "type": "text"
                }
              },
              "tool_choice": "auto",
              "tools": [
                {
                  "type": "web_search_preview",
                  "domains": [],
                  "search_context_size": "medium",
                  "user_location": {
                    "type": "approximate",
                    "city": null,
                    "country": "US",
                    "region": null,
                    "timezone": null
                  }
                }
              ],
              "top_p": 1.0,
              "truncation": "disabled",
              "usage": {
                "input_tokens": 328,
                "input_tokens_details": {
                  "cached_tokens": 0
                },
                "output_tokens": 356,
                "output_tokens_details": {
                  "reasoning_tokens": 0
                },
                "total_tokens": 684
              },
              "user": null,
              "metadata": {}
            }
          title: Web search
        - request:
            curl: |
              curl https://api.openai.com/v1/responses \
                -H "Content-Type: application/json" \
                -H "Authorization: Bearer $OPENAI_API_KEY" \
                -d '{
                  "model": "gpt-4o",
                  "tools": [{
                    "type": "file_search",
                    "vector_store_ids": ["vs_1234567890"],
                    "max_num_results": 20
                  }],
                  "input": "What are the attributes of an ancient brown dragon?"
                }'
            javascript: |
              import OpenAI from "openai";

              const openai = new OpenAI();

              const response = await openai.responses.create({
                  model: "gpt-4o",
                  tools: [{
                    type: "file_search",
                    vector_store_ids: ["vs_1234567890"],
                    max_num_results: 20
                  }],
                  input: "What are the attributes of an ancient brown dragon?",
              });

              console.log(response);
            python: |
              from openai import OpenAI

              client = OpenAI()

              response = client.responses.create(
                  model="gpt-4o",
                  tools=[{
                    "type": "file_search",
                    "vector_store_ids": ["vs_1234567890"],
                    "max_num_results": 20
                  }],
                  input="What are the attributes of an ancient brown dragon?",
              )

              print(response)
          response: |
            {
              "id": "resp_67ccf4c55fc48190b71bd0463ad3306d09504fb6872380d7",
              "object": "response",
              "created_at": 1741485253,
              "status": "completed",
              "error": null,
              "incomplete_details": null,
              "instructions": null,
              "max_output_tokens": null,
              "model": "gpt-4o-2024-08-06",
              "output": [
                {
                  "type": "file_search_call",
                  "id": "fs_67ccf4c63cd08190887ef6464ba5681609504fb6872380d7",
                  "status": "completed",
                  "queries": [
                    "attributes of an ancient brown dragon"
                  ],
                  "results": null
                },
                {
                  "type": "message",
                  "id": "msg_67ccf4c93e5c81909d595b369351a9d309504fb6872380d7",
                  "status": "completed",
                  "role": "assistant",
                  "content": [
                    {
                      "type": "output_text",
                      "text": "The attributes of an ancient brown dragon include...",
                      "annotations": [
                        {
                          "type": "file_citation",
                          "index": 320,
                          "file_id": "file-4wDz5b167pAf72nx1h9eiN",
                          "filename": "dragons.pdf"
                        },
                        {
                          "type": "file_citation",
                          "index": 576,
                          "file_id": "file-4wDz5b167pAf72nx1h9eiN",
                          "filename": "dragons.pdf"
                        },
                        {
                          "type": "file_citation",
                          "index": 815,
                          "file_id": "file-4wDz5b167pAf72nx1h9eiN",
                          "filename": "dragons.pdf"
                        },
                        {
                          "type": "file_citation",
                          "index": 815,
                          "file_id": "file-4wDz5b167pAf72nx1h9eiN",
                          "filename": "dragons.pdf"
                        },
                        {
                          "type": "file_citation",
                          "index": 1030,
                          "file_id": "file-4wDz5b167pAf72nx1h9eiN",
                          "filename": "dragons.pdf"
                        },
                        {
                          "type": "file_citation",
                          "index": 1030,
                          "file_id": "file-4wDz5b167pAf72nx1h9eiN",
                          "filename": "dragons.pdf"
                        },
                        {
                          "type": "file_citation",
                          "index": 1156,
                          "file_id": "file-4wDz5b167pAf72nx1h9eiN",
                          "filename": "dragons.pdf"
                        },
                        {
                          "type": "file_citation",
                          "index": 1225,
                          "file_id": "file-4wDz5b167pAf72nx1h9eiN",
                          "filename": "dragons.pdf"
                        }
                      ]
                    }
                  ]
                }
              ],
              "parallel_tool_calls": true,
              "previous_response_id": null,
              "reasoning": {
                "effort": null,
                "generate_summary": null
              },
              "store": true,
              "temperature": 1.0,
              "text": {
                "format": {
                  "type": "text"
                }
              },
              "tool_choice": "auto",
              "tools": [
                {
                  "type": "file_search",
                  "filters": null,
                  "max_num_results": 20,
                  "ranking_options": {
                    "ranker": "auto",
                    "score_threshold": 0.0
                  },
                  "vector_store_ids": [
                    "vs_1234567890"
                  ]
                }
              ],
              "top_p": 1.0,
              "truncation": "disabled",
              "usage": {
                "input_tokens": 18307,
                "input_tokens_details": {
                  "cached_tokens": 0
                },
                "output_tokens": 348,
                "output_tokens_details": {
                  "reasoning_tokens": 0
                },
                "total_tokens": 18655
              },
              "user": null,
              "metadata": {}
            }
          title: File search
        - request:
            curl: |
              curl https://api.openai.com/v1/responses \
                -H "Content-Type: application/json" \
                -H "Authorization: Bearer $OPENAI_API_KEY" \
                -d '{
                  "model": "gpt-4o",
                  "instructions": "You are a helpful assistant.",
                  "input": "Hello!",
                  "stream": true
                }'
            javascript: |
              import OpenAI from "openai";

              const openai = new OpenAI();

              const response = await openai.responses.create({
                  model: "gpt-4o",
                  instructions: "You are a helpful assistant.",
                  input: "Hello!",
                  stream: true,
              });

              for await (const event of response) {
                  console.log(event);
              }
            python: |
              from openai import OpenAI

              client = OpenAI()

              response = client.responses.create(
                model="gpt-4o",
                instructions="You are a helpful assistant.",
                input="Hello!",
                stream=True
              )

              for event in response:
                print(event)
          response: |
            event: response.created
            data: {"type":"response.created","response":{"id":"resp_67c9fdcecf488190bdd9a0409de3a1ec07b8b0ad4e5eb654","object":"response","created_at":1741290958,"status":"in_progress","error":null,"incomplete_details":null,"instructions":"You are a helpful assistant.","max_output_tokens":null,"model":"gpt-4o-2024-08-06","output":[],"parallel_tool_calls":true,"previous_response_id":null,"reasoning":{"effort":null,"generate_summary":null},"store":true,"temperature":1.0,"text":{"format":{"type":"text"}},"tool_choice":"auto","tools":[],"top_p":1.0,"truncation":"disabled","usage":null,"user":null,"metadata":{}}}

            event: response.in_progress
            data: {"type":"response.in_progress","response":{"id":"resp_67c9fdcecf488190bdd9a0409de3a1ec07b8b0ad4e5eb654","object":"response","created_at":1741290958,"status":"in_progress","error":null,"incomplete_details":null,"instructions":"You are a helpful assistant.","max_output_tokens":null,"model":"gpt-4o-2024-08-06","output":[],"parallel_tool_calls":true,"previous_response_id":null,"reasoning":{"effort":null,"generate_summary":null},"store":true,"temperature":1.0,"text":{"format":{"type":"text"}},"tool_choice":"auto","tools":[],"top_p":1.0,"truncation":"disabled","usage":null,"user":null,"metadata":{}}}

            event: response.output_item.added
            data: {"type":"response.output_item.added","output_index":0,"item":{"id":"msg_67c9fdcf37fc8190ba82116e33fb28c507b8b0ad4e5eb654","type":"message","status":"in_progress","role":"assistant","content":[]}}

            event: response.content_part.added
            data: {"type":"response.content_part.added","item_id":"msg_67c9fdcf37fc8190ba82116e33fb28c507b8b0ad4e5eb654","output_index":0,"content_index":0,"part":{"type":"output_text","text":"","annotations":[]}}

            event: response.output_text.delta
            data: {"type":"response.output_text.delta","item_id":"msg_67c9fdcf37fc8190ba82116e33fb28c507b8b0ad4e5eb654","output_index":0,"content_index":0,"delta":"Hi"}

            ...

            event: response.output_text.done
            data: {"type":"response.output_text.done","item_id":"msg_67c9fdcf37fc8190ba82116e33fb28c507b8b0ad4e5eb654","output_index":0,"content_index":0,"text":"Hi there! How can I assist you today?"}

            event: response.content_part.done
            data: {"type":"response.content_part.done","item_id":"msg_67c9fdcf37fc8190ba82116e33fb28c507b8b0ad4e5eb654","output_index":0,"content_index":0,"part":{"type":"output_text","text":"Hi there! How can I assist you today?","annotations":[]}}

            event: response.output_item.done
            data: {"type":"response.output_item.done","output_index":0,"item":{"id":"msg_67c9fdcf37fc8190ba82116e33fb28c507b8b0ad4e5eb654","type":"message","status":"completed","role":"assistant","content":[{"type":"output_text","text":"Hi there! How can I assist you today?","annotations":[]}]}}

            event: response.completed
            data: {"type":"response.completed","response":{"id":"resp_67c9fdcecf488190bdd9a0409de3a1ec07b8b0ad4e5eb654","object":"response","created_at":1741290958,"status":"completed","error":null,"incomplete_details":null,"instructions":"You are a helpful assistant.","max_output_tokens":null,"model":"gpt-4o-2024-08-06","output":[{"id":"msg_67c9fdcf37fc8190ba82116e33fb28c507b8b0ad4e5eb654","type":"message","status":"completed","role":"assistant","content":[{"type":"output_text","text":"Hi there! How can I assist you today?","annotations":[]}]}],"parallel_tool_calls":true,"previous_response_id":null,"reasoning":{"effort":null,"generate_summary":null},"store":true,"temperature":1.0,"text":{"format":{"type":"text"}},"tool_choice":"auto","tools":[],"top_p":1.0,"truncation":"disabled","usage":{"input_tokens":37,"output_tokens":11,"output_tokens_details":{"reasoning_tokens":0},"total_tokens":48},"user":null,"metadata":{}}}
          title: Streaming
        - request:
            curl: |
              curl https://api.openai.com/v1/responses \
                -H "Content-Type: application/json" \
                -H "Authorization: Bearer $OPENAI_API_KEY" \
                -d '{
                  "model": "gpt-4o",
                  "input": "What is the weather like in Boston today?",
                  "tools": [
                    {
                      "type": "function",
                      "name": "get_current_weather",
                      "description": "Get the current weather in a given location",
                      "parameters": {
                        "type": "object",
                        "properties": {
                          "location": {
                            "type": "string",
                            "description": "The city and state, e.g. San Francisco, CA"
                          },
                          "unit": {
                            "type": "string",
                            "enum": ["celsius", "fahrenheit"]
                          }
                        },
                        "required": ["location", "unit"]
                      }
                    }
                  ],
                  "tool_choice": "auto"
                }'
            javascript: |
              import OpenAI from "openai";

              const openai = new OpenAI();

              const tools = [
                  {
                      type: "function",
                      name: "get_current_weather",
                      description: "Get the current weather in a given location",
                      parameters: {
                          type: "object",
                          properties: {
                              location: {
                                  type: "string",
                                  description: "The city and state, e.g. San Francisco, CA",
                              },
                              unit: { type: "string", enum: ["celsius", "fahrenheit"] },
                          },
                          required: ["location", "unit"],
                      },
                  },
              ];

              const response = await openai.responses.create({
                  model: "gpt-4o",
                  tools: tools,
                  input: "What is the weather like in Boston today?",
                  tool_choice: "auto",
              });

              console.log(response);
            python: |
              from openai import OpenAI

              client = OpenAI()

              tools = [
                  {
                      "type": "function",
                      "name": "get_current_weather",
                      "description": "Get the current weather in a given location",
                      "parameters": {
                        "type": "object",
                        "properties": {
                            "location": {
                                "type": "string",
                                "description": "The city and state, e.g. San Francisco, CA",
                            },
                            "unit": {"type": "string", "enum": ["celsius", "fahrenheit"]},
                        },
                        "required": ["location", "unit"],
                      }
                  }
              ]

              response = client.responses.create(
                model="gpt-4o",
                tools=tools,
                input="What is the weather like in Boston today?",
                tool_choice="auto"
              )

              print(response)
          response: |
            {
              "id": "resp_67ca09c5efe0819096d0511c92b8c890096610f474011cc0",
              "object": "response",
              "created_at": 1741294021,
              "status": "completed",
              "error": null,
              "incomplete_details": null,
              "instructions": null,
              "max_output_tokens": null,
              "model": "gpt-4o-2024-08-06",
              "output": [
                {
                  "type": "function_call",
                  "id": "fc_67ca09c6bedc8190a7abfec07b1a1332096610f474011cc0",
                  "call_id": "call_unLAR8MvFNptuiZK6K6HCy5k",
                  "name": "get_current_weather",
                  "arguments": "{\"location\":\"Boston, MA\",\"unit\":\"celsius\"}",
                  "status": "completed"
                }
              ],
              "parallel_tool_calls": true,
              "previous_response_id": null,
              "reasoning": {
                "effort": null,
                "generate_summary": null
              },
              "store": true,
              "temperature": 1.0,
              "text": {
                "format": {
                  "type": "text"
                }
              },
              "tool_choice": "auto",
              "tools": [
                {
                  "type": "function",
                  "description": "Get the current weather in a given location",
                  "name": "get_current_weather",
                  "parameters": {
                    "type": "object",
                    "properties": {
                      "location": {
                        "type": "string",
                        "description": "The city and state, e.g. San Francisco, CA"
                      },
                      "unit": {
                        "type": "string",
                        "enum": [
                          "celsius",
                          "fahrenheit"
                        ]
                      }
                    },
                    "required": [
                      "location",
                      "unit"
                    ]
                  },
                  "strict": true
                }
              ],
              "top_p": 1.0,
              "truncation": "disabled",
              "usage": {
                "input_tokens": 291,
                "output_tokens": 23,
                "output_tokens_details": {
                  "reasoning_tokens": 0
                },
                "total_tokens": 314
              },
              "user": null,
              "metadata": {}
            }
          title: Functions
        - request:
            curl: |
              curl https://api.openai.com/v1/responses \
                -H "Content-Type: application/json" \
                -H "Authorization: Bearer $OPENAI_API_KEY" \
                -d '{
                  "model": "o3-mini",
                  "input": "How much wood would a woodchuck chuck?",
                  "reasoning": {
                    "effort": "high"
                  }
                }'
            javascript: |
              import OpenAI from "openai";
              const openai = new OpenAI();

              const response = await openai.responses.create({
                  model: "o3-mini",
                  input: "How much wood would a woodchuck chuck?",
                  reasoning: {
                    effort: "high"
                  }
              });

              console.log(response);
            python: |
              from openai import OpenAI
              client = OpenAI()

              response = client.responses.create(
                  model="o3-mini",
                  input="How much wood would a woodchuck chuck?",
                  reasoning={
                      "effort": "high"
                  }
              )

              print(response)
          response: |
            {
              "id": "resp_67ccd7eca01881908ff0b5146584e408072912b2993db808",
              "object": "response",
              "created_at": 1741477868,
              "status": "completed",
              "error": null,
              "incomplete_details": null,
              "instructions": null,
              "max_output_tokens": null,
              "model": "o1-2024-12-17",
              "output": [
                {
                  "type": "message",
                  "id": "msg_67ccd7f7b5848190a6f3e95d809f6b44072912b2993db808",
                  "status": "completed",
                  "role": "assistant",
                  "content": [
                    {
                      "type": "output_text",
                      "text": "The classic tongue twister...",
                      "annotations": []
                    }
                  ]
                }
              ],
              "parallel_tool_calls": true,
              "previous_response_id": null,
              "reasoning": {
                "effort": "high",
                "generate_summary": null
              },
              "store": true,
              "temperature": 1.0,
              "text": {
                "format": {
                  "type": "text"
                }
              },
              "tool_choice": "auto",
              "tools": [],
              "top_p": 1.0,
              "truncation": "disabled",
              "usage": {
                "input_tokens": 81,
                "input_tokens_details": {
                  "cached_tokens": 0
                },
                "output_tokens": 1035,
                "output_tokens_details": {
                  "reasoning_tokens": 832
                },
                "total_tokens": 1116
              },
              "user": null,
              "metadata": {}
            }
          title: Reasoning
        group: responses
        name: Create a model response
        path: create
        returns: |
          Returns a [Response](/docs/api-reference/responses/object) object.
components:
  schemas:
    Annotation:
      oneOf:
      - $ref: '#/components/schemas/FileCitation'
      - $ref: '#/components/schemas/UrlCitation'
      - $ref: '#/components/schemas/FilePath'
    ChatCompletionFunctionCallOption:
      description: |
        Specifying a particular function via `{"name": "my_function"}` forces the model to call that function.
      type: object
      properties:
        name:
          description: The name of the function to call.
          type: string
      required:
      - name
    ChatCompletionFunctions:
      deprecated: true
      type: object
      properties:
        description:
          description: A description of what the function does, used by the model to choose when and how to call the function.
          type: string
        name:
          description: The name of the function to be called. Must be a-z, A-Z, 0-9, or contain underscores and dashes, with a maximum length of 64.
          type: string
        parameters:
          $ref: '#/components/schemas/FunctionParameters'
      required:
      - name
    ChatCompletionMessageToolCall:
      type: object
      properties:
        id:
          description: The ID of the tool call.
          type: string
        type:
          description: The type of the tool. Currently, only `function` is supported.
          x-stainless-const: true
          type: string
          enum:
          - function
        function:
          description: The function that the model called.
          type: object
          properties:
            name:
              description: The name of the function to call.
              type: string
            arguments:
              description: The arguments to call the function with, as generated by the model in JSON format. Note that the model does not always generate valid JSON, and may hallucinate parameters not defined by your function schema. Validate the arguments in your code before calling your function.
              type: string
          required:
          - name
          - arguments
      required:
      - id
      - type
      - function
    ChatCompletionMessageToolCallChunk:
      type: object
      properties:
        index:
          type: integer
        id:
          description: The ID of the tool call.
          type: string
        type:
          description: The type of the tool. Currently, only `function` is supported.
          x-stainless-const: true
          type: string
          enum:
          - function
        function:
          type: object
          properties:
            name:
              description: The name of the function to call.
              type: string
            arguments:
              description: The arguments to call the function with, as generated by the model in JSON format. Note that the model does not always generate valid JSON, and may hallucinate parameters not defined by your function schema. Validate the arguments in your code before calling your function.
              type: string
      required:
      - index
    ChatCompletionMessageToolCalls:
      description: The tool calls generated by the model, such as function calls.
      type: array
      items:
        $ref: '#/components/schemas/ChatCompletionMessageToolCall'
    ChatCompletionNamedToolChoice:
      description: Specifies a tool the model should use. Use to force the model to call a specific function.
      type: object
      properties:
        type:
          description: The type of the tool. Currently, only `function` is supported.
          x-stainless-const: true
          type: string
          enum:
          - function
        function:
          type: object
          properties:
            name:
              description: The name of the function to call.
              type: string
          required:
          - name
      required:
      - type
      - function
    ChatCompletionRequestAssistantMessage:
      title: Assistant message
      description: |
        Messages sent by the model in response to user messages.
      type: object
      properties:
        content:
          nullable: true
          description: |
            The contents of the assistant message. Required unless `tool_calls` or `function_call` is specified.
          x-oaiExpandable: true
          oneOf:
          - title: Text content
            description: The contents of the assistant message.
            type: string
          - title: Array of content parts
            description: An array of content parts with a defined type. Can be one or more of type `text`, or exactly one of type `refusal`.
            type: array
            items:
              $ref: '#/components/schemas/ChatCompletionRequestAssistantMessageContentPart'
            minItems: 1
        refusal:
          nullable: true
          description: The refusal message by the assistant.
          type: string
        role:
          description: The role of the messages author, in this case `assistant`.
          x-stainless-const: true
          type: string
          enum:
          - assistant
        name:
          description: An optional name for the participant. Provides the model information to differentiate between participants of the same role.
          type: string
        audio:
          nullable: true
          description: "Data about a previous audio response from the model. \n[Learn more](/docs/guides/audio).\n"
          x-oaiExpandable: true
          type: object
          properties:
            id:
              description: |
                Unique identifier for a previous audio response from the model.
              type: string
          required:
          - id
        tool_calls:
          $ref: '#/components/schemas/ChatCompletionMessageToolCalls'
        function_call:
          nullable: true
          deprecated: true
          description: Deprecated and replaced by `tool_calls`. The name and arguments of a function that should be called, as generated by the model.
          type: object
          properties:
            arguments:
              description: The arguments to call the function with, as generated by the model in JSON format. Note that the model does not always generate valid JSON, and may hallucinate parameters not defined by your function schema. Validate the arguments in your code before calling your function.
              type: string
            name:
              description: The name of the function to call.
              type: string
          required:
          - arguments
          - name
      required:
      - role
    ChatCompletionRequestAssistantMessageContentPart:
      x-oaiExpandable: true
      oneOf:
      - $ref: '#/components/schemas/ChatCompletionRequestMessageContentPartText'
      - $ref: '#/components/schemas/ChatCompletionRequestMessageContentPartRefusal'
    ChatCompletionRequestDeveloperMessage:
      title: Developer message
      description: |
        Developer-provided instructions that the model should follow, regardless of
        messages sent by the user. With o1 models and newer, `developer` messages
        replace the previous `system` messages.
      type: object
      properties:
        content:
          description: The contents of the developer message.
          oneOf:
          - title: Text content
            description: The contents of the developer message.
            type: string
          - title: Array of content parts
            description: An array of content parts with a defined type. For developer messages, only type `text` is supported.
            type: array
            items:
              $ref: '#/components/schemas/ChatCompletionRequestMessageContentPartText'
            minItems: 1
        role:
          description: The role of the messages author, in this case `developer`.
          x-stainless-const: true
          type: string
          enum:
          - developer
        name:
          description: An optional name for the participant. Provides the model information to differentiate between participants of the same role.
          type: string
      required:
      - content
      - role
    ChatCompletionRequestFunctionMessage:
      deprecated: true
      title: Function message
      type: object
      properties:
        role:
          description: The role of the messages author, in this case `function`.
          x-stainless-const: true
          type: string
          enum:
          - function
        content:
          nullable: true
          description: The contents of the function message.
          type: string
        name:
          description: The name of the function to call.
          type: string
      required:
      - role
      - content
      - name
    ChatCompletionRequestMessage:
      x-oaiExpandable: true
      oneOf:
      - $ref: '#/components/schemas/ChatCompletionRequestDeveloperMessage'
      - $ref: '#/components/schemas/ChatCompletionRequestSystemMessage'
      - $ref: '#/components/schemas/ChatCompletionRequestUserMessage'
      - $ref: '#/components/schemas/ChatCompletionRequestAssistantMessage'
      - $ref: '#/components/schemas/ChatCompletionRequestToolMessage'
      - $ref: '#/components/schemas/ChatCompletionRequestFunctionMessage'
    ChatCompletionRequestMessageContentPartAudio:
      title: Audio content part
      description: |
        Learn about [audio inputs](/docs/guides/audio).
      type: object
      properties:
        type:
          description: The type of the content part. Always `input_audio`.
          x-stainless-const: true
          type: string
          enum:
          - input_audio
        input_audio:
          type: object
          properties:
            data:
              description: Base64 encoded audio data.
              type: string
            format:
              description: |
                The format of the encoded audio data. Currently supports "wav" and "mp3".
              type: string
              enum:
              - wav
              - mp3
          required:
          - data
          - format
      required:
      - type
      - input_audio
    ChatCompletionRequestMessageContentPartFile:
      title: File content part
      description: |
        Learn about [file inputs](/docs/guides/text) for text generation.
      type: object
      properties:
        type:
          description: The type of the content part. Always `file`.
          x-stainless-const: true
          type: string
          enum:
          - file
        file:
          type: object
          properties:
            filename:
              description: "The name of the file, used when passing the file to the model as a \nstring.\n"
              type: string
            file_data:
              description: "The base64 encoded file data, used when passing the file to the model \nas a string.\n"
              type: string
            file_id:
              description: |
                The ID of an uploaded file to use as input.
              type: string
      required:
      - type
      - file
    ChatCompletionRequestMessageContentPartImage:
      title: Image content part
      description: |
        Learn about [image inputs](/docs/guides/vision).
      type: object
      properties:
        type:
          description: The type of the content part.
          x-stainless-const: true
          type: string
          enum:
          - image_url
        image_url:
          type: object
          properties:
            url:
              description: Either a URL of the image or the base64 encoded image data.
              type: string
              format: uri
            detail:
              description: Specifies the detail level of the image. Learn more in the [Vision guide](/docs/guides/vision#low-or-high-fidelity-image-understanding).
              default: auto
              type: string
              enum:
              - auto
              - low
              - high
          required:
          - url
      required:
      - type
      - image_url
    ChatCompletionRequestMessageContentPartRefusal:
      title: Refusal content part
      type: object
      properties:
        type:
          description: The type of the content part.
          x-stainless-const: true
          type: string
          enum:
          - refusal
        refusal:
          description: The refusal message generated by the model.
          type: string
      required:
      - type
      - refusal
    ChatCompletionRequestMessageContentPartText:
      title: Text content part
      description: |
        Learn about [text inputs](/docs/guides/text-generation).
      type: object
      properties:
        type:
          description: The type of the content part.
          x-stainless-const: true
          type: string
          enum:
          - text
        text:
          description: The text content.
          type: string
      required:
      - type
      - text
    ChatCompletionRequestSystemMessage:
      title: System message
      description: |
        Developer-provided instructions that the model should follow, regardless of
        messages sent by the user. With o1 models and newer, use `developer` messages
        for this purpose instead.
      type: object
      properties:
        content:
          description: The contents of the system message.
          oneOf:
          - title: Text content
            description: The contents of the system message.
            type: string
          - title: Array of content parts
            description: An array of content parts with a defined type. For system messages, only type `text` is supported.
            type: array
            items:
              $ref: '#/components/schemas/ChatCompletionRequestSystemMessageContentPart'
            minItems: 1
        role:
          description: The role of the messages author, in this case `system`.
          x-stainless-const: true
          type: string
          enum:
          - system
        name:
          description: An optional name for the participant. Provides the model information to differentiate between participants of the same role.
          type: string
      required:
      - content
      - role
    ChatCompletionRequestSystemMessageContentPart:
      x-oaiExpandable: true
      oneOf:
      - $ref: '#/components/schemas/ChatCompletionRequestMessageContentPartText'
    ChatCompletionRequestToolMessage:
      title: Tool message
      type: object
      properties:
        role:
          description: The role of the messages author, in this case `tool`.
          x-stainless-const: true
          type: string
          enum:
          - tool
        content:
          description: The contents of the tool message.
          oneOf:
          - title: Text content
            description: The contents of the tool message.
            type: string
          - title: Array of content parts
            description: An array of content parts with a defined type. For tool messages, only type `text` is supported.
            type: array
            items:
              $ref: '#/components/schemas/ChatCompletionRequestToolMessageContentPart'
            minItems: 1
        tool_call_id:
          description: Tool call that this message is responding to.
          type: string
      required:
      - role
      - content
      - tool_call_id
    ChatCompletionRequestToolMessageContentPart:
      x-oaiExpandable: true
      oneOf:
      - $ref: '#/components/schemas/ChatCompletionRequestMessageContentPartText'
    ChatCompletionRequestUserMessage:
      title: User message
      description: |
        Messages sent by an end user, containing prompts or additional context
        information.
      type: object
      properties:
        content:
          description: |
            The contents of the user message.
          x-oaiExpandable: true
          oneOf:
          - title: Text content
            description: The text contents of the message.
            type: string
          - title: Array of content parts
            description: An array of content parts with a defined type. Supported options differ based on the [model](/docs/models) being used to generate the response. Can contain text, image, or audio inputs.
            type: array
            items:
              $ref: '#/components/schemas/ChatCompletionRequestUserMessageContentPart'
            minItems: 1
        role:
          description: The role of the messages author, in this case `user`.
          x-stainless-const: true
          type: string
          enum:
          - user
        name:
          description: An optional name for the participant. Provides the model information to differentiate between participants of the same role.
          type: string
      required:
      - content
      - role
    ChatCompletionRequestUserMessageContentPart:
      x-oaiExpandable: true
      oneOf:
      - $ref: '#/components/schemas/ChatCompletionRequestMessageContentPartText'
      - $ref: '#/components/schemas/ChatCompletionRequestMessageContentPartImage'
      - $ref: '#/components/schemas/ChatCompletionRequestMessageContentPartAudio'
      - $ref: '#/components/schemas/ChatCompletionRequestMessageContentPartFile'
    ChatCompletionResponseMessage:
      description: A chat completion message generated by the model.
      type: object
      properties:
        content:
          nullable: true
          description: The contents of the message.
          type: string
        refusal:
          nullable: true
          description: The refusal message generated by the model.
          type: string
        tool_calls:
          $ref: '#/components/schemas/ChatCompletionMessageToolCalls'
        annotations:
          description: |
            Annotations for the message, when applicable, as when using the
            [web search tool](/docs/guides/tools-web-search?api-mode=chat).
          type: array
          items:
            description: |
              A URL citation when using web search.
            type: object
            properties:
              type:
                description: The type of the URL citation. Always `url_citation`.
                x-stainless-const: true
                type: string
                enum:
                - url_citation
              url_citation:
                description: A URL citation when using web search.
                type: object
                properties:
                  end_index:
                    description: The index of the last character of the URL citation in the message.
                    type: integer
                  start_index:
                    description: The index of the first character of the URL citation in the message.
                    type: integer
                  url:
                    description: The URL of the web resource.
                    type: string
                  title:
                    description: The title of the web resource.
                    type: string
                required:
                - end_index
                - start_index
                - url
                - title
            required:
            - type
            - url_citation
        role:
          description: The role of the author of this message.
          x-stainless-const: true
          type: string
          enum:
          - assistant
        function_call:
          deprecated: true
          description: Deprecated and replaced by `tool_calls`. The name and arguments of a function that should be called, as generated by the model.
          type: object
          properties:
            arguments:
              description: The arguments to call the function with, as generated by the model in JSON format. Note that the model does not always generate valid JSON, and may hallucinate parameters not defined by your function schema. Validate the arguments in your code before calling your function.
              type: string
            name:
              description: The name of the function to call.
              type: string
          required:
          - name
          - arguments
        audio:
          nullable: true
          description: |
            If the audio output modality is requested, this object contains data
            about the audio response from the model. [Learn more](/docs/guides/audio).
          x-oaiExpandable: true
          type: object
          properties:
            id:
              description: Unique identifier for this audio response.
              type: string
            expires_at:
              description: |
                The Unix timestamp (in seconds) for when this audio response will
                no longer be accessible on the server for use in multi-turn
                conversations.
              type: integer
            data:
              description: |
                Base64 encoded audio bytes generated by the model, in the format
                specified in the request.
              type: string
            transcript:
              description: Transcript of the audio generated by the model.
              type: string
          required:
          - id
          - expires_at
          - data
          - transcript
      required:
      - role
      - content
      - refusal
    ChatCompletionStreamOptions:
      nullable: true
      description: |
        Options for streaming response. Only set this when you set `stream: true`.
      type: object
      properties:
        include_usage:
          description: "If set, an additional chunk will be streamed before the `data: [DONE]`\nmessage. The `usage` field on this chunk shows the token usage statistics\nfor the entire request, and the `choices` field will always be an empty\narray. \n\nAll other chunks will also include a `usage` field, but with a null\nvalue. **NOTE:** If the stream is interrupted, you may not receive the\nfinal usage chunk which contains the total token usage for the request.\n"
          type: boolean
    ChatCompletionStreamResponseDelta:
      description: A chat completion delta generated by streamed model responses.
      type: object
      properties:
        content:
          nullable: true
          description: The contents of the chunk message.
          type: string
        function_call:
          deprecated: true
          description: Deprecated and replaced by `tool_calls`. The name and arguments of a function that should be called, as generated by the model.
          type: object
          properties:
            arguments:
              description: The arguments to call the function with, as generated by the model in JSON format. Note that the model does not always generate valid JSON, and may hallucinate parameters not defined by your function schema. Validate the arguments in your code before calling your function.
              type: string
            name:
              description: The name of the function to call.
              type: string
        tool_calls:
          type: array
          items:
            $ref: '#/components/schemas/ChatCompletionMessageToolCallChunk'
        role:
          description: The role of the author of this message.
          type: string
          enum:
          - developer
          - system
          - user
          - assistant
          - tool
        refusal:
          nullable: true
          description: The refusal message generated by the model.
          type: string
    ChatCompletionTokenLogprob:
      type: object
      properties:
        token:
          description: The token.
          type: string
        logprob:
          description: The log probability of this token, if it is within the top 20 most likely tokens. Otherwise, the value `-9999.0` is used to signify that the token is very unlikely.
          type: number
        bytes:
          nullable: true
          description: A list of integers representing the UTF-8 bytes representation of the token. Useful in instances where characters are represented by multiple tokens and their byte representations must be combined to generate the correct text representation. Can be `null` if there is no bytes representation for the token.
          type: array
          items:
            type: integer
        top_logprobs:
          description: List of the most likely tokens and their log probability, at this token position. In rare cases, there may be fewer than the number of requested `top_logprobs` returned.
          type: array
          items:
            type: object
            properties:
              token:
                description: The token.
                type: string
              logprob:
                description: The log probability of this token, if it is within the top 20 most likely tokens. Otherwise, the value `-9999.0` is used to signify that the token is very unlikely.
                type: number
              bytes:
                nullable: true
                description: A list of integers representing the UTF-8 bytes representation of the token. Useful in instances where characters are represented by multiple tokens and their byte representations must be combined to generate the correct text representation. Can be `null` if there is no bytes representation for the token.
                type: array
                items:
                  type: integer
            required:
            - token
            - logprob
            - bytes
      required:
      - token
      - logprob
      - bytes
      - top_logprobs
    ChatCompletionTool:
      type: object
      properties:
        type:
          description: The type of the tool. Currently, only `function` is supported.
          x-stainless-const: true
          type: string
          enum:
          - function
        function:
          $ref: '#/components/schemas/FunctionObject'
      required:
      - type
      - function
    ChatCompletionToolChoiceOption:
      description: |
        Controls which (if any) tool is called by the model.
        `none` means the model will not call any tool and instead generates a message.
        `auto` means the model can pick between generating a message or calling one or more tools.
        `required` means the model must call one or more tools.
        Specifying a particular tool via `{"type": "function", "function": {"name": "my_function"}}` forces the model to call that tool.

        `none` is the default when no tools are present. `auto` is the default if tools are present.
      x-oaiExpandable: true
      oneOf:
      - description: |
          `none` means the model will not call any tool and instead generates a message. `auto` means the model can pick between generating a message or calling one or more tools. `required` means the model must call one or more tools.
        type: string
        enum:
        - none
        - auto
        - required
      - $ref: '#/components/schemas/ChatCompletionNamedToolChoice'
    Click:
      title: Click
      description: |
        A click action.
      type: object
      properties:
        type:
          description: "Specifies the event type. For a click action, this property is \nalways set to `click`.\n"
          default: click
          x-stainless-const: true
          type: string
          enum:
          - click
        button:
          description: |
            Indicates which mouse button was pressed during the click. One of `left`, `right`, `wheel`, `back`, or `forward`.
          type: string
          enum:
          - left
          - right
          - wheel
          - back
          - forward
        x:
          description: |
            The x-coordinate where the click occurred.
          type: integer
        y:
          description: |
            The y-coordinate where the click occurred.
          type: integer
      required:
      - type
      - button
      - x
      - y
    CodeInterpreterFileOutput:
      title: Code interpreter file output
      description: |
        The output of a code interpreter tool call that is a file.
      type: object
      properties:
        type:
          description: |
            The type of the code interpreter file output. Always `files`.
          x-stainless-const: true
          type: string
          enum:
          - files
        files:
[...]
