@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --chart-1: 0.852 0.199 91.936; /* oklch(0.852 0.199 91.936) */
    --chart-2: 0.656 0.241 354.308; /* oklch(0.656 0.241 354.308) */
    --chart-3: 0.792 0.209 151.711; /* oklch(0.792 0.209 151.711) */
    --chart-4: 0.637 0.237 25.331; /* oklch(0.637 0.237 25.331) */
    --chart-5: 0.667 0.295 322.15; /* oklch(0.667 0.295 322.15) */
    --chart-6: 0.623 0.214 259.815; /* oklch(0.623 0.214 259.815) */
    --chart-7: 0.845 0.143 164.978; /* oklch(0.845 0.143 164.978) */
    --chart-8: 0.686 0.216 297.186; /* oklch(0.686 0.216 297.186) */
    --chart-9: 0.75 0.183 55.934; /* oklch(0.75 0.183 55.934) */
    --chart-10: 0.588 0.158 241.966; /* oklch(0.588 0.158 241.966) */
  }
}

.glass {
  @apply bg-white/[.3333] backdrop-blur-md;
}

.interactive {
  @apply transition-transform hover:shadow-md active:scale-95;
}

::-webkit-scrollbar {
  @apply w-4 bg-slate-200;
}

::-webkit-scrollbar-thumb {
  @apply cursor-grab rounded-full border-2 border-solid border-slate-200 bg-white hover:shadow-md;
}
