aiohappyeyeballs==2.6.1 ; python_version >= "3.11" and python_version < "4"
aiohttp==3.12.15 ; python_version >= "3.11" and python_version < "4"
aiosignal==1.4.0 ; python_version >= "3.11" and python_version < "4"
annotated-types==0.7.0 ; python_version >= "3.11" and python_version < "4"
anthropic==0.36.1 ; python_version >= "3.11" and python_version < "4"
anyio==4.6.2.post1 ; python_version >= "3.11" and python_version < "4"
attrs==24.2.0 ; python_version >= "3.11" and python_version < "4"
backoff==2.2.1 ; python_version >= "3.11" and python_version < "4"
certifi==2024.8.30 ; python_version >= "3.11" and python_version < "4"
charset-normalizer==3.4.0 ; python_full_version >= "3.11.0" and python_version < "4"
colorama==0.4.6 ; python_version >= "3.11" and python_version < "4"
deprecated==1.2.14 ; python_version >= "3.11" and python_version < "4"
distro==1.9.0 ; python_version >= "3.11" and python_version < "4"
filelock==3.16.1 ; python_version >= "3.11" and python_version < "4"
frozenlist==1.4.1 ; python_version >= "3.11" and python_version < "4"
fsspec==2024.9.0 ; python_version >= "3.11" and python_version < "4"
googleapis-common-protos==1.65.0 ; python_version >= "3.11" and python_version < "4"
grpcio==1.67.0 ; python_version >= "3.11" and python_version < "4"
h11==0.14.0 ; python_version >= "3.11" and python_version < "4"
httpcore==1.0.6 ; python_version >= "3.11" and python_version < "4"
httpx==0.27.2 ; python_version >= "3.11" and python_version < "4"
huggingface-hub==0.25.2 ; python_full_version >= "3.11.0" and python_version < "4"
idna==3.10 ; python_version >= "3.11" and python_version < "4"
importlib-metadata==8.4.0 ; python_version >= "3.11" and python_version < "4"
inflection==0.5.1 ; python_version >= "3.11" and python_version < "4"
jinja2==3.1.6 ; python_version >= "3.11" and python_version < "4"
jiter==0.6.1 ; python_version >= "3.11" and python_version < "4"
markupsafe==3.0.1 ; python_version >= "3.11" and python_version < "4"
monotonic==1.6 ; python_full_version >= "3.11.0" and python_version < "4"
multidict==6.1.0 ; python_version >= "3.11" and python_version < "4"
opentelemetry-api==1.34.1 ; python_version >= "3.11" and python_version < "4"
opentelemetry-exporter-otlp-proto-common==1.34.1 ; python_version >= "3.11" and python_version < "4"
opentelemetry-exporter-otlp-proto-grpc==1.34.1 ; python_version >= "3.11" and python_version < "4"
opentelemetry-exporter-otlp-proto-http==1.34.1 ; python_version >= "3.11" and python_version < "4"
opentelemetry-exporter-otlp==1.34.1 ; python_version >= "3.11" and python_version < "4"
opentelemetry-instrumentation-alephalpha==0.44.1 ; python_version >= "3.11" and python_version < "4"
opentelemetry-instrumentation-anthropic==0.44.1 ; python_version >= "3.11" and python_version < "4"
opentelemetry-instrumentation-bedrock==0.44.1 ; python_version >= "3.11" and python_version < "4"
opentelemetry-instrumentation-chromadb==0.44.1 ; python_version >= "3.11" and python_version < "4"
opentelemetry-instrumentation-cohere==0.44.1 ; python_version >= "3.11" and python_version < "4"
opentelemetry-instrumentation-crewai==0.44.1 ; python_version >= "3.11" and python_version < "4"
opentelemetry-instrumentation-google-generativeai==0.44.1 ; python_version >= "3.11" and python_version < "4"
opentelemetry-instrumentation-groq==0.44.1 ; python_version >= "3.11" and python_version < "4"
opentelemetry-instrumentation-haystack==0.44.1 ; python_version >= "3.11" and python_version < "4"
opentelemetry-instrumentation-lancedb==0.44.1 ; python_version >= "3.11" and python_version < "4"
opentelemetry-instrumentation-langchain==0.44.1 ; python_version >= "3.11" and python_version < "4"
opentelemetry-instrumentation-llamaindex==0.44.1 ; python_version >= "3.11" and python_version < "4"
opentelemetry-instrumentation-logging==0.55b1 ; python_version >= "3.11" and python_version < "4"
opentelemetry-instrumentation-marqo==0.44.1 ; python_version >= "3.11" and python_version < "4"
opentelemetry-instrumentation-mcp==0.44.1 ; python_version >= "3.11" and python_version < "4"
opentelemetry-instrumentation-milvus==0.44.1 ; python_version >= "3.11" and python_version < "4"
opentelemetry-instrumentation-mistralai==0.44.1 ; python_version >= "3.11" and python_version < "4"
opentelemetry-instrumentation-ollama==0.44.1 ; python_version >= "3.11" and python_version < "4"
opentelemetry-instrumentation-openai-agents==0.44.1 ; python_version >= "3.11" and python_version < "4"
opentelemetry-instrumentation-openai==0.44.1 ; python_version >= "3.11" and python_version < "4"
opentelemetry-instrumentation-pinecone==0.44.1 ; python_version >= "3.11" and python_version < "4"
opentelemetry-instrumentation-qdrant==0.44.1 ; python_version >= "3.11" and python_version < "4"
opentelemetry-instrumentation-redis==0.55b1 ; python_version >= "3.11" and python_version < "4"
opentelemetry-instrumentation-replicate==0.44.1 ; python_version >= "3.11" and python_version < "4"
opentelemetry-instrumentation-requests==0.55b1 ; python_version >= "3.11" and python_version < "4"
opentelemetry-instrumentation-sagemaker==0.44.1 ; python_version >= "3.11" and python_version < "4"
opentelemetry-instrumentation-sqlalchemy==0.55b1 ; python_version >= "3.11" and python_version < "4"
opentelemetry-instrumentation-threading==0.55b1 ; python_version >= "3.11" and python_version < "4"
opentelemetry-instrumentation-together==0.44.1 ; python_version >= "3.11" and python_version < "4"
opentelemetry-instrumentation-transformers==0.44.1 ; python_version >= "3.11" and python_version < "4"
opentelemetry-instrumentation-urllib3==0.55b1 ; python_version >= "3.11" and python_version < "4"
opentelemetry-instrumentation-vertexai==0.44.1 ; python_version >= "3.11" and python_version < "4"
opentelemetry-instrumentation-watsonx==0.44.1 ; python_version >= "3.11" and python_version < "4"
opentelemetry-instrumentation-weaviate==0.44.1 ; python_version >= "3.11" and python_version < "4"
opentelemetry-instrumentation==0.55b1 ; python_version >= "3.11" and python_version < "4"
opentelemetry-proto==1.34.1 ; python_version >= "3.11" and python_version < "4"
opentelemetry-sdk==1.34.1 ; python_version >= "3.11" and python_version < "4"
opentelemetry-semantic-conventions-ai==0.4.11 ; python_version >= "3.11" and python_version < "4"
opentelemetry-semantic-conventions==0.55b1 ; python_version >= "3.11" and python_version < "4"
opentelemetry-util-http==0.55b1 ; python_version >= "3.11" and python_version < "4"
packaging==24.1 ; python_version >= "3.11" and python_version < "4"
posthog==3.7.0 ; python_full_version >= "3.11.0" and python_version < "4"
propcache==0.2.0 ; python_version >= "3.11" and python_version < "4"
protobuf==5.29.5 ; python_version >= "3.11" and python_version < "4"
pydantic-core==2.23.4 ; python_version >= "3.11" and python_version < "4"
pydantic==2.9.2 ; python_version >= "3.11" and python_version < "4"
python-dateutil==2.9.0.post0 ; python_version >= "3.11" and python_version < "4"
pyyaml==6.0.2 ; python_version >= "3.11" and python_version < "4"
requests==2.32.3 ; python_version >= "3.11" and python_version < "4"
six==1.16.0 ; python_version >= "3.11" and python_version < "4"
sniffio==1.3.1 ; python_version >= "3.11" and python_version < "4"
tenacity==8.5.0 ; python_version >= "3.11" and python_version < "4"
tokenizers==0.20.1 ; python_version >= "3.11" and python_version < "4"
tqdm==4.66.5 ; python_version >= "3.11" and python_version < "4"
traceloop-sdk==0.44.1 ; python_version >= "3.11" and python_version < "4"
typing-extensions==4.12.2 ; python_version >= "3.11" and python_version < "4"
urllib3==2.2.3 ; python_version >= "3.11" and python_version < "4"
wrapt==1.16.0 ; python_version >= "3.11" and python_version < "4"
yarl==1.18.3 ; python_version >= "3.11" and python_version < "4"
zipp==3.20.2 ; python_version >= "3.11" and python_version < "4"
